<%= form_with(model: membership) do |form| %>
  <% if membership.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section class="my-3">
    <%= form.label :beerclub_id, class: "form-label" %>
    <%= form.select :beerclub_id, @beer_clubs, {}, { :class => "form-select" }  %>
  </section>

  <section class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </section>
<% end %>
