<%= form_with(model: membership) do |form| %>
  <% if membership.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section>
    <%= form.label :beerclub_id %>
    <%= form.collection_select :beerclub_id, @beer_clubs, :id, :to_s  %>
  </section>

  <section>
    <%= form.submit class: "btn-main" %>
  </section>
<% end %>
