<h1>Sign in</h1>
<p id="notice"><%= notice %></p>
<%= form_with url: session_path, method: :post do |form| %>
  <section>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </section>
  <section>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </section>
  <section>
    <%= form.submit "Log in", class: "btn-main" %>
  </section>
<% end %>
