<%= render @beer_club %>

<% if current_user && !@membership %>
<section>
  <%= form_with(model: @new_membership) do |form| %>
    <%= form.hidden_field :beerclub_id, value: @beer_club.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Join the beer club" %>
  <% end %>
</section>
<% end %>

<% if @membership %>
  <section>
    <%= form_with(model: @membership, method: :delete) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user&.id %>
      <%= form.submit "End the membership", class: 'btn btn-dangerous' %>
    <% end %>
  </section>
<% end %>

<section>
  <strong>Members</strong>
  <ul>
    <% @beer_club.memberships.each do |membership| %>
      <li>
        <%= link_to membership.user %>
        <%= "since #{membership.created_at}" %>
      </li>
    <% end %>
  </ul>
</section>

<% if current_user %>
<section>
  <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club), { class: "btn btn-secondary" } %> |
  <%= link_to "Back to beer clubs", beer_clubs_path %>

  <%= button_to "Destroy this beer club", @beer_club, method: :delete, class: "btn btn-dangerous" %>
</section>
<% end %>
