<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @user.new_record? %>
  <section>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </section>
  <% end %>

  <section>
    <%= form.label :password, style: "display: block"%>
    <%= form.password_field :password %>
  </section>

  <section>
    <%= form.label :password_confirmation, style: "display: block"%>
    <%= form.password_field :password_confirmation %>
  </section>

  <section>
    <%= form.submit "Register", class: "btn-main" %>
  </section>
<% end %>
