<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <%= user.ratings.count %> ratings
    average: <%= user.average_rating.to_f %>
  </p>

  <p>
    <strong>Favourite brewery:</strong>
    <%= user.favourite_brewery %>
  </p>

  <p>
    <strong>Favourite style:</strong>
    <%= user.favourite_style %>
  </p>

  <p>
    <strong>Favourite beer:</strong>
    <%= user.favourite_beer %>
  </p>

  Clubs:
  <ul>
    <% user.memberships.each do |membership| %>
      <li>
        <%= link_to membership.beer_club %>
        <%= "since #{membership.created_at}" %>
      </li>
    <% end %>
  </ul>

  Ratings:
  <ul>
    <% user.ratings.each do |rating| %>
      <li>
        <%= render rating %>
        <% if user == current_user %>
          <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn-dangerous", id: "delete-rating-#{rating.id}"%>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
