<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <%= user.ratings.count %> ratings
    average: <%= user.average_rating.to_f %>
  </p>

  Ratings:
  <ul>
    <% user.ratings.each do |rating| %>
      <li>
        <%= render rating %>
        <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
      </li>
    <% end %>
  </ul>

</div>
