<h2>List of ratings</h2>

<p><%= @ratings.count %> ratings</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Rating</th>
    <th>User</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @ratings.each do |rating| %>
    <tr>
      <td><%= link_to rating.beer %></td>
      <td><%= rating.score %></td>
      <td><%= link_to rating.user %></td>
      <td><%= rating.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
