<%= form_with(model: brewery) do |form| %>
  <% if brewery.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
        <% brewery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </section>

  <section>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </section>

  <section>
    <%= form.submit class: "btn-main" %>
  </section>
<% end %>
