<%= form_with(model: brewery) do |form| %>
  <% if brewery.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
        <% brewery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section class="my-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </section>

  <section class="mb-3">
    <%= form.label :year, class: "form-label" %>
    <%= form.number_field :year, class: "form-control" %>
  </section>

  <section class="mb-3">
    <%= form.label :is_active, class: "form-label" %>
    <%= form.check_box :is_active %>
  </section>

  <section class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </section>
<% end %>
