<p style="color: green"><%= notice %></p>

<h1>Breweries <%=@breweries.count %></h1>

<div id="breweries">
  <% @breweries.each do |brewery| %>
    <p>
      <%= link_to brewery.name, brewery %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= brewery.year %>
    </p>
  <% end %>
</div>

<%= link_to "New brewery", new_brewery_path %>
