<h1>Breweries</h1>

<h2 class="mt-3">Active: <%= @active_breweries.size %></h2>

<%= render "breweries/brewery_table", breweries: @active_breweries %>

<h2>Retired: <%= @retired_breweries.size %></h2>

<%= render "breweries/brewery_table", breweries: @retired_breweries %>

<%= link_to "New brewery", new_brewery_path, class: "btn btn-primary" if current_user %>
<%= link_to "Beers", beers_path %>
