<%= form_with(model: beer) do |form| %>
  <% if beer.errors.any? %>
    <section style="color: red">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
      <ul>
        <% beer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section class="mb-4 mt-5">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </section>

  <section class="mb-4">
    <%= form.label :style_id, class: "form-label" %>
    <%= form.select :style_id, @styles, {}, { :class => "form-select" }  %>
  </section>

  <section class="mb-4">
    <%= form.label :brewery_id, class: "form-label" %>
    <%= form.select :brewery_id, @breweries, {}, { :class => "form-select" } %>
  </section>

  <section class="mb-5 mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </section>
<% end %>
