<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
</head>
<body>

<div class="navbar">
  <%=link_to "Breweries", breweries_path  %>
  <%=link_to "Beers", beers_path  %>
  <%=link_to "Ratings", ratings_path  %>
  <%=link_to "Beer clubs", beer_clubs_path  %>
  <%=link_to "Join a club", new_membership_path  %>
  <% if current_user %>
    <%= current_user&.username  %> signed in
    <%= link_to 'Sign out', '/signout', data: { "turbo-method": :delete } %>
  <% else %>
    <%= link_to 'Sign in', '/signin' %>
    <%= link_to 'Register', new_user_path %>
  <%  end %>
</div>

<%= yield %>

</body>
</html>
