<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
</head>
<body>

<nav class="navbar">
  <%=link_to "Breweries", breweries_path, class: "nav-link"  %>
  <%=link_to "Beers", beers_path, class: "nav-link"  %>
  <%=link_to "Ratings", ratings_path, class: "nav-link"  %>
  <%=link_to "Places", places_path, class: "nav-link"  %>
  <%=link_to "Beer clubs", beer_clubs_path, class: "nav-link"  %>
  <%=link_to "Join a club", new_membership_path, class: "nav-link"  %>
  <% if current_user %>
    <span class="nav-link"><%= current_user&.username  %> signed in</span>
    <%= link_to 'Sign out', '/signout', data: { "turbo-method": :delete }, class: "nav-link" %>
  <% else %>
    <%= link_to 'Sign in', '/signin', class: "nav-link" %>
    <%= link_to 'Register', new_user_path, class: "nav-link" %>
  <%  end %>
</nav>

<main>
<%= yield %>
</main>

</body>
</html>
